
.App {
  text-align: center;
  background-color: #cc8800;
  height: 100vh;
  width: 100vw;
  position: relative;
  

background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


/* delete icon */

.todo-list-item span{
  display: inline-block;
  width: 6%;
  float: right;
}
.todo-list-item span img{
  width:100%;
}





